<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="icon" th:href="@{img/livress.png}" >
</head>
<body>
    <header >
        <div th:replace="~{navbar :: titre}"></div>
    </header>
    
    <nav>
        <div th:replace="~{navbar :: menu}"></div>
    </nav>

    <h1 id="titre_biblio">Catalogue</h1>
    <img th:src="@{img/biblio.jpg}" alt="Bibliothèque">
    <main>
        <div th:each="livre : ${livres}"class ="book">
        
            <h2 th:text="${livre.titre}"></h2>
            <p th:text="'Auteur: ' + ${livre.auteur}"></p>
            <p th:text="'Édition: ' + ${livre.edition}"></p>
            <p th:text="${livre.description}"></p>
            <br>
        </div>

</main>

<footer>
    <div th:replace="~{navbar :: foot}"></div>
</footer>

</body>
</html>
