<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emprunt de livre</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="icon" th:href="@{img/livress.png}" >
</head>
<body>
    <header>
        <div th:replace="~{navbar :: titre}"></div>
    </header>
    <nav>
        <div th:replace="~{navbar :: menu}"></div>
    </nav>
    <h1 id="titre_biblio">Emprunt de livre</h1>
    <main>
        

        <img th:src="@{img/biblio.jpg}" alt="Bibliothèque">
        <br>
        <form action="/formulaire" method="post">
            <h2>Nom de l'emprunteur</h2>
            <select name="choix_emprunteur" id="choix_emprunteur">
                <option th:each="emprunteur : ${emprunteurs}" th:value = "${emprunteur.id}" th:text="${emprunteur.nom}"></option>
            </select>
    
            <h2> Choix du livre</h2>
            <select name="choix_livre" id="choix_livre">
                <option th:each="livre : ${livres}" th:value = "${livre.id}" th:text="${livre.titre}"></option>
            </select>
    
            <button type="submit">Demande</button>
        </form>
    </main>
    <footer>
        <div th:replace="~{navbar :: foot}"></div>
    </footer>
</body>
</html>
