<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emprunt de livre</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="icon" th:href="@{img/livress.png}" >
</head>
<body>
    <header>
        <div th:replace="~{navbar :: titre}"></div>
    </header>
    <nav>
        <div th:replace="~{navbar :: menu}"></div>
    </nav>
    <h1 id="titre_biblio">Emprunt de livre</h1>
    <main>
        

        <img th:src="@{img/biblio.jpg}" alt="Bibliothèque">
        <br>
        <form action="/submit" method="post">
            <label for="nomEmprunteur">Nom de l'emprunteur:</label>
            <input type="text" id="nomEmprunteur" name="nomEmprunteur" >
    
            <label for="numeroEmprunteur">Numéro d'emprunteur:</label>
            <input type="text" id="numeroEmprunteur" name="numeroEmprunteur" >
    
            <label for="titreLivre">Titre du livre emprunté:</label>
            <input type="text" id="titreLivre" name="titreLivre" >
    
            <label for="editionLivre">Édition du livre:</label>
            <input type="text" id="editionLivre" name="editionLivre" >
    
            <label for="dateDebutEmprunt">Date de début d'emprunt:</label>
            <input type="date" id="dateDebutEmprunt" name="dateDebutEmprunt" >
    
            <input type="submit" value="submit">
        </form>
    </main>
    <footer>
        <div th:replace="~{navbar :: foot}"></div>
    </footer>
</body>
</html>
